.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1.25rem auto;

  &_nav {
    font-family: 'Yantramanav', sans-serif;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    padding-right: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ee6988;
    :hover {
      cursor: pointer;
    }
  }
}
